* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar {
    margin: 25px 25px 40px 40px;
}

#logo {
    width: 150px;
    margin-right: 80px;
}

#navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
}

.nav-item,
.-item {
    text-decoration: none;
    list-style: none;
    color: #484848;
}

.nav-link.active {
    font-weight: bold;
}
