* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    margin: 25px 25px 40px 40px;
}

#logo {
    width: 150px;
    margin-right: 80px;
}

#navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
}

.login-area {
    font-size: 15px;
    text-align: center;
    display: flex;
    padding: 15px;
    align-items: center;
    margin-left: 20px;
}

.text-log-in {
    text-decoration: none;
    color: rgb(45, 45, 45);
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 18px;
    font-size: 12px;
}

.label-input {
    margin: 0 50px 0 50px;
}

.title-admin {
    text-align: center;
    margin-bottom: 50px;
}

.btn.btn-primary {
    margin-top: 20px;
}
